<script type="text/javascript" src="{{ "/assets/js/typewriter.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<section class="intro">
  <div class="container" style="
    display: flex;
">
    <div style="
    padding-right: 40px;
">
      <img src="/assets/images/author.jpg" alt="author" style="
    border-radius: 50%;
    width: 100px;
    height: auto;
    box-shadow: 0px 0px 7px 0px #4a4a49;
">
    </div>
    <div style="
    align-self: center;
">
      <p class="lead" style="
    margin-bottom: 0;
"> Hi, I'm Sezer İltekin 👋🏼 <br>I am a self-taught iOS Developer 👨🏻‍💻 <span style="display: none" class="typewrite" data-period="2000" data-type="[ &quot;Swift.&quot;, &quot;PHP.&quot;, &quot;MySQL.&quot;, &quot;NodeJS.&quot;, &quot;JQuery.&quot;, &quot;GIT.&quot;, &quot;UIKit.&quot;, &quot;Bootstrap.&quot;, &quot;Rest API.&quot;, &quot;CURL.&quot;, &quot;Redis.&quot;, &quot;Socket.IO.&quot;, &quot;CSS.&quot;, &quot;DataTables.&quot; ]"><span class="wrap">NodeJS.</span></span> </p>
    </div>

  </div>
</section>
<section>
  <div class="container">
    <img src="https://ghchart.rshah.org/iltekin" style="width: 100%;">
  </div>
</section>