<script type="text/javascript" src="{{ "/assets/js/typewriter.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<section class="intro">
  <div class="container">
    <p class="lead">
      Hi, I'm Sezer İltekin 👋🏼 <br/>I'm an iOS Developer 👨🏻‍💻
      <span style="display: none" class="typewrite" data-period="2000" data-type='[ "Swift.", "PHP.", "MySQL.", "NodeJS.", "JQuery.", "GIT.", "UIKit.", "Bootstrap.", "Rest API.", "CURL.", "Redis.", "Socket.IO.", "CSS.", "DataTables." ]'>
        <span class="wrap"></span>
      </span>
    </p>
  </div>
</section>