<script type="text/javascript" src="{{ "/assets/js/typewriter.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<section class="intro">

  <style>
    .intro_container {
      display: flex;
      flex-direction: row;
    }

    /* mobile */
    @media only screen and (max-width: 600px) {
      .intro_container {
        flex-direction: column-reverse;
      }
    }

  </style>

  <div class="container intro_container">
    <div style="
    padding-right: 40px;
    min-width: 270px;
">
      <img src="/assets/images/author.jpg" alt="author" style="
      display: none;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px #4a4a49;
">
      <div class="social-links" style="display: flex; justify-content: center; flex-direction: column;">
        <div class="badge-base LI-profile-badge" data-locale="tr_TR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="iltekin" data-version="v1"></div>
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
      </div>
    </div>
    <div style="
    align-self: center;
">
      <p style="
    margin-bottom: 0;
"> Hi, I'm Sezer İltekin 👋🏼 <br>I'm a software developer with expertise in both web and native iOS application development. With years of experience under my belt, I have honed my skills in creating responsive and engaging user interfaces, robust back-end architecture, and seamless integrations with various third-party services.
        <div style="margin-top:25px">
          <a href="https://github.com/iltekin" target="_blank"><img alt="GitHub followers" src="https://img.shields.io/github/followers/iltekin?style=social"></a>
          <a href="https://twitter.com/sezeriltekin" target="_blank"><img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/sezeriltekin?style=social"></a>
        </div>
        <span style="display: none" class="typewrite" data-period="2000" data-type="[ &quot;Swift.&quot;, &quot;PHP.&quot;, &quot;MySQL.&quot;, &quot;NodeJS.&quot;, &quot;JQuery.&quot;, &quot;GIT.&quot;, &quot;UIKit.&quot;, &quot;Bootstrap.&quot;, &quot;Rest API.&quot;, &quot;CURL.&quot;, &quot;Redis.&quot;, &quot;Socket.IO.&quot;, &quot;CSS.&quot;, &quot;DataTables.&quot; ]"><span class="wrap">NodeJS.</span></span> </p>
    </div>

  </div>
</section>