---
layout: default
---

<article class="page container">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>
  <div id="404" class="page-content">
    {{ content }}
  </div>
</article>

<script type="text/javascript">
  const targetDiv = document.getElementById('404');
  const text = document.createTextNode("Try this URL: ");
  targetDiv.appendChild(text);

  const url = "https://code.iltekin.com" + window.location.pathname;
  const title = document.createTextNode(url);

  const a = document.createElement("a");
  a.href = url
  a.appendChild(title)

  targetDiv.appendChild(a);
</script>